<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
</head>
<body>
    <p>Random Word attempt # {{request.session.count}}</p>
    <fieldset>
        <h4>{{request.session.number}}</h4>
    </fieldset>
    <form action="/create" method="POST">
        {% csrf_token %}
        <input type="submit" value="Generate">
    </form>
    <form action="/reset" method="POST">
        {% csrf_token %}
        <input type="submit" value="Reset">
    </form>
</body>
</html>