<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Registration</title>
</head>
<body>

    <fieldset>
        <legend>Registration</legend>
        <form action="/register" method="post">
                {% csrf_token %}
            First Name: <input type="text" name="firstName" id="firstName"> <br>
            Last Name: <input type="text" name="lastName" id="lastName"> <br>
            Email: <input type="email" name="email" id="email"> <br> 
                <!-- ^ need to add email format validation -->
            Password: <input type="password" name="password" id="password"> <br>
            Confirm PW: <input type="password" name="confirm_pass" id="confirm_pass"> <br>
                <!-- ^ need to add password validation '***'s  -->
            <input type="submit" value="Register" id="register_button"> <br>
        </form>
    </fieldset>
    

    <fieldset>
        <legend>Login</legend>
        <form action="/login" method="post">
                {% csrf_token %}
            Email: <input type="email" name="email" id="email"> <br> 
                <!-- ^ need to add email format validation -->
            Password: <input type="password" name="password" id="password"> <br>
                <!-- ^ need to add password validation '***'s  -->
            <input type="submit" value="Login" id="login_button"> <br>
        </form>
    </fieldset>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}    
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>