<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<br>**************************<br>

<form>
<button type='button' (click)="onButtonClickEvent($event)" id="allTasks">Show All Tasks!</button><br>
</form>
<ul>
  <li *ngFor="let task of allTasks">{{task}}</li>
</ul>

<form>
    <input type="text" name="taskentry" id="taskentry" placeholder="Enter Task..">
    <button type='button' (click)="onButtonClickEvent2($event)" id="addTasks">Add a Task!</button><br>
</form>
<ul>
  <li *ngFor="let task of addTasks">{{task}}</li>
</ul>

<br>**************************<br>


<h3>Value of num is: {{num}}</h3>
<h3>Value of randNum is: {{randNum}}</h3>
<h3>{{str}}</h3>
<input type="text" [value]="first_name" />

<br>**************************<br>

<p *ngIf="loggedIn">You are logged in!</p>
<p *ngFor="let snack of snacks">{{snack}}</p>
<p *ngIf="snacks.length < 3">You need more snacks.</p>





