<h1>Register:</h1>

<div *ngIf="user.errors">
	<h3 *ngFor="let err of user.errors"> {{err.message}} </h3> 
</div>

<form (submit)="register()">
	<p>Email:<input type="text" name="user.email" [(ngModel)]="user.email"></p> 
	<p>Password:<input type="password" name="user.password" [(ngModel)]="user.password"></p> 

	<input type="submit" value="Register">
</form>


<h1>Login:</h1>

<h3 *ngIf="loggedUser.errors"> {{ loggedUser.errors }} </h3>

<form (submit)="login()">
	<p>Email:<input type="text" name="loggedUser.email" [(ngModel)]="loggedUser.email"></p> 
	<p>Password:<input type="password" name="loggedUser.password" [(ngModel)]="loggedUser.password"></p> 

	<input type="submit" value="Login">
</form>

