*{
    background-color: teal;
}

#name{
    background-color: antiquewhite;
}

#quote{
    background-color: antiquewhite;
}

#addquote{
    background-color: lightgreen;
}

button{
    background-color: lightcoral;
}