<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TMNT Squad</title>
</head>
<body>
    <h2>Teenage Mutant Ninja Turtles!</h2>
    <img src="{{ url_for('static', filename='tmnt.png') }}">
    <p style="color:orange">Michelangelo</p>
    <p style="color:blue">Leonardo</p>
    <p style="color:red">Raphael</p>
    <p style="color:purple">Donatello</p>
    
</body>
</html>