<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Quoting Dojo</title>
</head>

<body>
    <h2>Here are the awesome quotes!</h2>
    <% for (let x in quote){ %>
    "<%= quote[x].quote %>"
    <h4><%= quote[x].name %></h4>
    <%= quote[x].createdAt %>
    <hr>
    <% } %> 

</body>

</html>