<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    
    <form action="/submit" method="POST">
        {% csrf_token %}
    <fieldset>
        Your Name: <input type="text" name="username"> <br>

        Dojo Location: 
        <select name="location">
            <option value="DC">Washington DC</option>
            <option value="Seattle">Seattle</option>
            <option value="Tulsa">Tulsa</option>
            <option value="LA">Los Angeles</option>
            <option value="Chicago">Chicago</option>
            <option value="Dallas">Dallas</option>
            <option value="Valley">Silicon Valley</option>
        </select> <br>

        Favorite Language: 
        <select name="language">
            <option value="Python">Python</option>
            <option value="MEAN">MEAN</option>
            <option value="Ruby">Ruby</option>
            <option value="Java">Java</option>
            <option value="CSS">CSS</option>
            <option value="HTML">HTML</option>
            <option value="Javascript">Javascript</option>
        </select> <br>

        Comment (optional): <br>
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea> <br>

        <input type="submit" value="Submit">

    </fieldset>
    </form>
</body>
</html>